body
{

color:#333;
text-align: center;
text-decoration-color: rgb(0, 128, 255);
font-family: sans-serif;
font-size: 20px;

}
#cont {

    width: 60%;
    padding: 1em;
    text-align: left;
    border: 10px solid rgb(0, 229, 233);
    margin:  0 auto;
}

#cont h2 {
    font-size: 20px;
}

#cabezera {

box-shadow:0px 4px 20px 5px rgb(14, 14, 14);
background:rgb(11, 141, 164);
color: white;
margin: 0;
padding: 0.5em;
font-weight: bold;

}

#cabezera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.83em; 
}

#cont #feliznavidad {
    font-size: 1cm;
    color: aqua;
}